@{
    ViewBag.Title = "About Us";
}
<!-- about -->
<div class="about" id="about">
    <div class="agileits_works-top">
        <div class="col-md-4 about-img-right">
            <img src="/images/veggies.png" alt=" " class="img-responsive" />
        </div>
        <div class="col-md-8 agileits_works-grid two">

            <div class="wthree-text">
                <div class="heading-setion-w3ls">
                    <h3 class="title-w3layouts">In Simple Words</h3>
                </div>
                <p class="para-w3-agile">
                    Organic Zone provides fresh and healthy organic food. All the procducts are grown without the use of pesticides so that you get 100% natural grown food. We offer following products:
                </p>
                <ul class="about-agile">
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Vegitables</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Fruits</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Herbs</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>& Much More...</li>
                </ul>
            </div>

        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<!-- //about -->