@{
    ViewBag.Title = "Organic Zone";
}

<!--we-offer -->
<div class="features">
    <div class="container">
        <div class="heading-setion-w3ls">
            <h2 class="title-w3layouts">What we Offer</h2>
        </div>
        <div class="col-md-4 servies-agileinfo">
            <p class="pink-w3ls">Provide healthy food to you and your family</p>
            <p class="para-w3agileits">Health, ecology, and caring are the guiding themes of "Organic Zone". We are dedicated to collaborating with numerous certified farmers that do not advocate the use of pesticides or genetically modified seeds in the production of their produce. We strive to provide our clients with a nutritious lunch devoid of chemicals.</p>
        </div>
        <div class="col-md-4 servies-agileinfo">
            <ul>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Rice</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Cerials and Grains</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Flours</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Pulses</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Suger and Jaggery</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Whole Spices</li>
            </ul>
        </div>
        <div class="col-md-4 servies-agileinfo">
            <ul>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Ground Spices</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Masala Blends</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Tea and Coffee</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Super Foods and Health Foods</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Oils, Honeys and Pastes</li>
                <li><i class="fa fa-envira" aria-hidden="true"></i> Dry Fruits</li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //we-offer -->
<div class="sale-w3ls">
    <div class="container">
        <h6 class="white-agileits">Sale! <span>40%</span> off</h6>
        <p>Now you can enjoy 40% discount on all organic items. So hurry up and avail this offer now.</p>
        @Html.ActionLink("Go to Store", "Index", "Items", null, new {@class = "botton-agileits"})
    </div>
</div>
<!-- team -->
<div class="team" id="team">
    <div class="container">
        <div class="heading-setion-w3ls">
            <h3 class="title-w3layouts">Meet our Suppliers</h3>
        </div>
        <div class="col-md-6 team-left">
            <div class="team1">
                <div class="col-md-4 team-img1">
                    <img src="/images/team.jpg" alt="" />
                </div>
                <div class="col-md-4 team-info">
                    <h4>Carl Haddon</h4>
                    <p>Lorem Ipsum</p>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="team2">
                <div class="col-md-4 team-img2">
                    <img src="/images/team.jpg" alt="" />
                </div>
                <div class="col-md-4 team-info">
                    <h4>Nessa Peters</h4>
                    <p>Lorem Ipsum</p>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 team-right">
            <div class="team3">
                <div class="col-md-4 team-img1">
                    <img src="/images/team.jpg" alt="" />
                </div>
                <div class="col-md-4 team-info">
                    <h4>Mark Johnson</h4>
                    <p>Lorem Ipsum</p>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="team4">
                <div class="col-md-4 team-img2">
                    <img src="/images/team.jpg" alt="" />
                </div>
                <div class="col-md-4 team-info">
                    <h4>Alice Puse</h4>
                    <p>Lorem Ipsum</p>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //team -->
<!-- services -->
<div class="services">
    <div class="container">
        <div class="w3l-about-grids">
            <div class="col-md-6 w3ls-about-left">
                <div class="heading-setion-w3ls">
                    <h3 class="title-w3layouts white-agileits">Why Organic Zone?</h3>
                </div>
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>High Neutritional Value</h5>
                        <p class="para-w3-agile">Organic foods preserve far more natural vitamins and minerals.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>No Chemicals and Pesticides</h5>
                        <p class="para-w3-agile">We don’t use artificial fertilisers or additives in our food.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Certified Organic Sources</h5>
                        <p class="para-w3-agile">Our products are strictly quality controlled and independently verified.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- testimonials -->
            <div class="col-md-6 w3ls-about-right">
                <div class="heading-setion-w3ls">
                    <h3 class="title-w3layouts white-agileits">Customers' Response</h3>
                </div>
                <div class="w3ls-about-right-img">
                    <div class="test-gri1">
                        <div id="owl-demo2" class="owl-carousel">
                            <div class="test-grid1">
                                <img src="/images/team.jpg" alt="" class="img-r">
                                <h4>Mark Henry</h4>
                                <span>CUSTOMER 1</span>
                                <p>I recently bought Organic Zone’s Rasam Powder. All the spices in the powder were perfectly blended. After adding it, my rasam instantly had a tangy and delicious taste.</p>
                            </div>
                            <div class="agile">
                                <div class="test-grid1">
                                    <img src="/images/team.jpg" alt="" class="img-r">
                                    <h4>Joseph Carl</h4>
                                    <span>CUSTOMER 2</span>
                                    <p>Organic Zone’s Masala Blends are my saviour. Since I hardly knew anything about cooking, these masala blends have come to my rescue. Being organic, they are healthy as well.</p>
                                </div>
                            </div>
                            <div class="agile">
                                <div class="test-grid1">
                                    <img src="/images/team.jpg" alt="" class="img-r">
                                    <h4>John Mark</h4>
                                    <span>CUSTOMER 3</span>
                                    <p>With Organic Zone, I can now make tasty fried food without any worry. The Organic Mustard Oil has a lot of health benefits. For all the festivals and all the pakoda parties during monsoon, this oil is my partner always.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //testimonials -->
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->

@{
    Html.RenderAction("Index", "FAQs");
}
